{% args vol %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
</head>

<title>Dumb Doorbell</title>

<body>
    <div id="container">


        <header>
            <h1>Dumb Doorbell control panel</h1>

        </header>
        

        <div class="form">


            <form action="">
                <div class="part-change" id="doorbell-change">
                    <h2>Doorbell</h2>
                    <div class="field">
                        <h3>Volume adjustment</h3>
                        <p>Adjust the volume of amplifier in the doorbell.</p>
                        <label for="">Volume</label>
                        <input type="range" min="0" max="100" value = "{{ vol }}" id="volume-input">
                            <output id="volume-output">{{ vol }}</output> 
                    </div>

                    <div class="field">
                        <h3>Alert sound</h3>
                        <p>Upload a file as your alert sound. <br>
                        Note: Only .wav files are supported. <br>
                        Current sound: <!-- Show the current sound. Either the name of uploaded file or default sound. -->
                        </p>
                        <input type="file" id="file-input" accept=".wav">
                            
                    </div>
                </div>

                <div class="part-change" id="wristband-change">
                    <h2>Wristband</h2>
                    <div class="field">
                        <h3>Vibration pattern</h3>
                        <p>Choose the vibration pattern for the wristband to your preferrence.</p>
                        <div class="pattern-choice">
                            <label for="pattern1">
                                <input type="radio" name="pattern" id="pattern1" value="Pattern 1">
                                Pattern 1
                            </label>
                        </div>

                        <div class="pattern-choice">
                            <label for="pattern2">
                                <input type="radio" name="pattern" id="pattern2" value="Pattern 2">
                                Pattern 2
                            </label>
                        </div>

                    </div>
                </div>

            </form>
            <script src="static/index.js"></script>
            <div class="button-container"  style="display:flex">
                <button class="button" type="submit" onclick="submit()">Confirm changes</button>
                <button class="button" type="reset" onclick="resett()">Reset settings to defaults</button>
            </div>
        </div>
    </div>

</body>
</html>