<!doctype html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<title>Dumb Doorbell</title>
<body>Test
    <header>
        <h1>Dumb Doorbell</h1>
        
    </header>
    <div>
        <h2>Introduction</h2>
        <p>Lorem ipsum</p>
    </div>

    <div>
        <h2>Volume adjustment</h2>
        <form action="">
            <label for="">Volume</label>
            <input type="range" min="0" max="100">
            <button type="submit" value="Update"></button>
        </form>
    </div>

</body>

